body
{background-color:rgb(140, 243, 217);
color:rgb(18, 51, 36);
font-family:Serif;
}

h2
{color:rgb(24, 37, 11);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height:auto;
width: auto;
margin-bottom: 0pt;

}
*{
    margin: 0.1em;
    padding: 0.1em;
  }
li
{font-weight:bold;
    display: inline-block;
    text-align: center;
    font-size: 0.8m;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    align-items:flex-start;
    justify-content:flex-end;
}
.image {
    flex-basis: 4em;
}
.text {
    font-size:1.1em;
    padding:auto;
}