body
{background-color:rgb(140, 243, 217);
color:rgb(18, 51, 36);
font-family:Serif;
}

h2
{color:rgb(17, 34, 58);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height:auto;
width: auto;
margin-bottom: -0.2em;

}
*{
    margin: 0.1em;
    padding: 0.1em;
  }
/* The navbar links */
nav {
    overflow: hidden;
}
/* The navbar links */
nav a{ 
    font-weight:bold;
    color:rgb(53, 53, 221);
    text-align: center;
    font-size: 0.8m;
}
li{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    align-items:flex-start;
    justify-content:flex-end;
}
.image {
    flex-basis: 4em;
}
.text {
    font-size:1.1em;
    padding:auto;
}